<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357474465949-bnof935bd5oucoj8n3sbbjff5j20vtpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357474465949-bnof935bd5oucoj8n3sbbjff5j20vtpb</string>
	<key>API_KEY</key>
	<string>AIzaSyB4uPoGW5HdHRbZqSZDpX0-4BBkgcujJzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>357474465949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kauekaj.SwiftArquiteturas</string>
	<key>PROJECT_ID</key>
	<string>swiftarquiteturas-bf</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftarquiteturas-bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357474465949:ios:990e718c9486e81e7b7c74</string>
</dict>
</plist>